# yii console commands
/yii
/yii_test
/yii_test.bat

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
!/vendor/mdmsoft/
/vendor/*
/backend/uploads/*
# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant
/composer.lock
Would skip repository vendor/kartik-v/yii2-widget-select2

/backend/web/img/
!/docs/
/backend/uploads/
/index.php

